<html>
<head>

<base href="/assets">
<link rel="stylesheet" type="text/css" href="process1.css">

</head>


<body>
<h2>ברוכים הבאים למשפחתון של רינת</h2>

<nav>
	<ul>
		<li><a href="www.google.com">תיקי ילדים</a></li>
		<li><a href="events.html">אירועים</a></li>
		
	
	</ul>
</nav>

<img src="calendar.jpg" alt="calendar" class="calendar">

<footer>

	<ul>
		<li><a  href="http://www.gan4u.co.il/websites/index.asp?SiteID=1302&PageID=3787" class="menu">דף הבית</a></li>		
		<li><a  href="http://www.gan4u.co.il/websites/index.asp?SiteID=1302&PageID=3788" class="menu2">אודות</a></li>
		<li><a  href="http://www.gan4u.co.il/websites/index.asp?SiteID=1302&PageID=3798" class="menu2">לוח חופשות</a></li>
		<li><a  href="http://www.gan4u.co.il/websites/index.asp?SiteID=1302&PageID=3790" class="menu2">צור קשר</a></li>
						
	
	</ul>
</footer>
</body>

</html>
