<html>
<head>

<style>
body  {
  background-image: url("back.gif");

}
</style>
<base href="/assets">

<link rel="stylesheet" type="text/css" href="process1.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

<body>
<h2 style="color: white;font-size:300%;width:40%;">תנאי הרשמה</h2>

<form action="/controllers/register4-controller" method="POST">
  <input type="hidden" value="<%=uid%>" name="uid">
<p><center><fieldset style="width:70%;"><legend style="font-weight: bold;font-size:25px;"> תנאים</legend></p>

<h3>ההורה מתקשר עם המשפחתון לקבלת שירותי משפחתון לכל שנת הלימודים</h3>
<h3>המשפחתון פועל בשתי מתכונות אנא סמנו את האפשרות הרצויה</h3>
<input type="radio" name="days" value="5" checked> חמישה ימים בשבוע<br>
<input type="radio" name="days" value="6"> שישה ימים בשבוע<br>


 
<h3>      כל איחור מעבר לשעות פעילות הגן יחוייב בסכום של 25 שח עד שעה</h3>
<h3>ההגעה לגן בבוקר היא עד שעה 8:30. לאחר מכן, תתאפשר כניסה לגן רק 
   לאחר ארוחת הבוקר</h3>
   <h3>המשפחתון יהיה סגור בחגים ובקיץ על פי המפורט בלוח החופשות המצורף</h3>
      <h3>שכר הלימוד ישולם עד ל-5 בכל חודש ויועבר מראש במעמד הרישום בצ'קים 
  דחויים למשך כל שנת הלימודים
</h3>
 <h3>בעת ההרשמה יינתנו דמי הרשמה ע"ס 500 שקלים שאינם חלק מתשלום     
   שנתי של דמי הלימוד</h3>
      <h3>בכל מקרה של ביטול לפני תחילת שנת הלימודים יחויבו דמי הרישום מוקדמים   
   בסך הנ"ל
</h3>

   <h3>על אח שני הנחה של 10% משכר הלימוד</h3>
   <h3>על אף האמור לעיל יהיה כל צד רשאי להפסיק את ההתקשרות תוך מתן  
  הודעה על כך למשנהו בכתב, לאחר תחילת שנת הלימודים ולא יאוחר מחודש 
  ימים לפני הפסקת ההתקשרות המתוכננת. במידה והעזיבה נעשית בין חודש 
  מאי לאוגוסט, חייבים ההורים בתשלום מלא עד אוגוסט (כולל)
</h3>
   <h3> חודש אוגוסט ישולם במלואו</h3>

      <h3> שכר הלימוד ישולם גם בגין תקופה של העדרות הילד מהגן הן מסיבת מחלה 
  ו/או כל סיבה אחרת
</h3>

   <h3> מוסכם על דעת הצדדים וההורים מתחייבים בזאת שלא להביא לגן ילד/ה חולה 
  הסובל/ת מדלקת עיניים, שלשולים, מחלת ילדים, עם חום מעל 38 מעלות,  
  או כל מחלה אחרת. במקרה של חום או כל מחלה מדבקת, הילד יורשה 
  לחזור לגן רק לאחר 24 שעות ללא חום או תופעות לוואי ובצירוף של אישור   
  מרופא
</h3>
   <h3> ההורים מסכימים עם מדיניות הגן בנוגע למחלות וכי במצבים אלו יגיעו להוציא 
  את הילד/ה מן הגן לבקשת הצוות המטפל
</h3>

   <h3> ההורים מבינים ומסכימים כי ייתכן ומדיניות זו תשתנה בעקבות אירועים 
  חדשים שיתרחשו בגן/ הנחיית משרד הבריאות
</h3>

   <h3> במשפחתון לא ינתנו לילד תרופות מכל סוג כולל תרופות טבעיות.</h3>
      <h3> ההורה מאשר ומצהיר כי הילד/ה בריא/ה וכשיר/ה לשהות במשפחתון וכי אין  
  כל מניעה מכל מין וסוג להשתתפותו של הילד בפעילות המשפחתון. אם יחול  
  שינוי כלשהו באמור לעיל, מתחייב ההורה להודיע על כך מיידית
</h3>

   <h3> ההורה מצהיר בזאת כי קרא את סעיפי ההסכם, הבינם והסכים להם</h3>
   </fieldset><center>
   <br>

   
<center><button type="submit" style="width:20%;font-size:200%;color:white;">הבא</button></center>

</fieldset>
<br>
</form>
<div class="footer" style="text-align: center; background-color: #696969;color:white;">
  <p>כתובת: אברהם יפה 3, חולון. טלפון: 050-6791354</p>
</div>

</body>

</html>
