<html>

<head>
<style>
body  {
  background-image: url("back.gif");

}
</style>
<base href="/assets">

	<link rel="stylesheet" type="text/css" href="process1.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<script type="text/javascript">
  function UpdateChildName() {
    document.getElementById("child_name").value = document.getElementById("child_select").value;
    console.log(child_name);
  }
</script>

<body>

<nav class="navbar navbar-inverse" style="background-color:#696969">
  <div class="container-fluid">
    <div class="navbar-header">
      
    </div>
    <ul class="nav navbar-nav">
      <li><a href="homepageassistant">דף הבית</a></li>
      <li><a href="child-account-assistant">תיקי ילדים</a></li>
      <li><a href="reports-manager">דיווח שבועי</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> התנתק</a></li>
    </ul>
  </div>
</nav>

<h2 style="color: white;font-size:300%;">ברוכים הבאים למשפחתון של רינת</h2>


<br>
<br>


<body>



<form action="/controllers/reports-controller" method="POST">

<p><center><fieldset ><legend style="font-weight: bold;font-size:25px;"> דיווח שבועי על ילד במשפחתון</legend></p>
<p>שם הילד</p>
  <select id="child_select" onchange="UpdateChildName(child_name)">
    <% for(var i = 0;i < children.length;i++) { %>

  <option value="<%=children[i].child_name%>"><%=children[i].child_name%></option>
    <% } %>
</select>
<p>סטטוס התקדמות שבועי</p><input style="height:100px; font-size:14pt; word-wrap: break-word;" type="text" name="status_report">
<p>תאריך הדיווח</p> <input type="date" name="date">
<input id="child_name" type="text" name="child_name" value="" hidden="true">
</fieldset>


<br>
<br>

</form>

<center><button type="submit" style="width:20%;font-size:200%;color:white;">הכנס דיווח</button></center>


</fieldset>
<br>
</form>
<div class="footer" style="text-align: center; background-color: #696969;color:white;">
  <p>כתובת: אברהם יפה 3, חולון. טלפון: 050-6791354</p>
</div>

</body>

</html>
